{% extends "base.html" %}

{% block content %}

    <h1 class="text" style="color: #45F7EC;"><br>Большая Байкальская тропа</h1>

    <h3 class="text">
        Иркутская область
        <a href="/map#mapf_1">
            &nbsp;<img src="../static/images/point.png" width="20" class="bigger">
        </a>
    </h3>

    <table class="text">
        <tr>
            <td width="50"><p><img src="../static/images/dot.png" width="20" class="bigger">
                <span><img src="../static/images/f1_1.jpg"></span></p></td>
            <td width="50"><p><img src="../static/images/dot.png" width="20" class="bigger">
                <span><img src="../static/images/f1_2.jpg"></span></p></td>
            <td width="50"><p><img src="../static/images/dot.png" width="20" class="bigger">
                <span><img src="../static/images/f1_3.jpg"></span></p></td>
            <td width="50"><p><img src="../static/images/dot.png" width="20" class="bigger">
                <span><img src="../static/images/f1_4.jpg"></span></p></td>
            <td width="50"> <p><img src="../static/images/dot.png" width="20" class="bigger">
            <span><img src="../static/images/f1_5.jpg"></span></p></td>
        </tr>
    </table>

    <p class="text" style="font-size: 18px;">
        Вдоль побережья Байкала проложено несколько пешеходных троп.
        В походе можно увидеть живописные леса, посмотреть на&nbsp;Байкал&nbsp;с&nbsp;высоты около 800 метров,
        отдохнуть на каменистых пляжах и искупаться в чистой озёрной воде.<br><br>
        Маршрут проходит через территорию Прибайкальского национального парка.
        Эта природная зона внесена в список Всемирного наследия ЮНЕСКО.</p>

    <ul class="text" style="font-size: 18px;">
        <li>Протяжённость маршрута — 60 километров</li>
        <li>Длительность похода — 6 дней</li>
        <li>Лучшее время — с июня по сентябрь</li>
    </ul>

    <a href="/mail" class="btn btn-primary" style="background-color: rgba(0,0,0,0.0); border-color: #45F7EC;">
        Выбрать этот маршрут</a>


    <hr>


    <h1 class="text" style="color: #45F7EC;"><br>Кодорское ущелье</h1>

    <h3 class="text">
        Кавказ, Абхазия
        <a href="/map#mapf_2" class="hover">
            &nbsp;<img src="../static/images/point.png" width="20" class="bigger">
        </a>
    </h3>

    <table class="text">
        <tr>
            <td width="50"><p><img src="../static/images/dot.png" width="20" class="bigger">
                <span><img src="../static/images/f2_1.jpg"></span></p></td>
            <td width="50"><p><img src="../static/images/dot.png" width="20" class="bigger">
                <span><img src="../static/images/f2_2.jpg"></span></p></td>
            <td width="50"><p><img src="../static/images/dot.png" width="20" class="bigger">
                <span><img src="../static/images/f2_3.jpg"></span></p></td>
            <td width="50"><p><img src="../static/images/dot.png" width="20" class="bigger">
                <span><img src="../static/images/f2_4.jpg"></span></p></td>
            <td width="50"> <p><img src="../static/images/dot.png" width="20" class="bigger">
            <span><img src="../static/images/f2_5.jpg"></span></p></td>
        </tr>
    </table>

    <p class="text" style="font-size: 18px;">
        Ущелье находится на Кавказе, в верхнем течении горной реки Кодор.
        В окрестностях можно увидеть озёра, где водится форель, самшитовые рощи, водопады, пещеры.
        Все желающие могут искупаться в термальных источниках Кындыг и в Чёрном море, если позволяет погода.<br><br>
        Маршрут начинается в Адлере. Финальная точка — Новый Афон или Псоу.</p>

    <ul class="text" style="font-size: 18px;">
        <li>Протяжённость маршрута — 90 километров</li>
        <li>Длительность похода — 9 дней</li>
        <li>Лучшее время — с мая по сентябрь</li>
    </ul>

    <a href="/mail" class="btn btn-primary" style="background-color: rgba(0,0,0,0.0); border-color: #45F7EC;">
        Выбрать этот маршрут</a>


    <hr>


    <h1 class="text" style="color: #45F7EC;"><br>Подножие Белухи</h1>

    <h3 class="text">
        Алтайский край
        <a href="/map#mapf_3" class="hover">
            &nbsp;<img src="../static/images/point.png" width="20" class="bigger">
        </a>
    </h3>

    <table class="text">
        <tr>
            <td width="50"><p><img src="../static/images/dot.png" width="20" class="bigger">
                <span><img src="../static/images/f3_1.jpg"></span></p></td>
            <td width="50"><p><img src="../static/images/dot.png" width="20" class="bigger">
                <span><img src="../static/images/f3_2.jpg"></span></p></td>
            <td width="50"><p><img src="../static/images/dot.png" width="20" class="bigger">
                <span><img src="../static/images/f3_3.jpg"></span></p></td>
            <td width="50"><p><img src="../static/images/dot.png" width="20" class="bigger">
                <span><img src="../static/images/f3_4.jpg"></span></p></td>
            <td width="50"> <p><img src="../static/images/dot.png" width="20" class="bigger">
            <span><img src="../static/images/f3_5.jpg"></span></p></td>
        </tr>
    </table>

    <p class="text" style="font-size: 18px;">
        Маршрут проходит через перевал Кара‑Тюрек, Долину семи озёр, Озеро горных духов,
        где туристы могут наблюдать сияющие на солнце ледники, реки и водопады.
        И заканчивается у подножия Белухи, которая считается главной вершиной Алтая.<br><br>
        Переход через перевал требует выносливости и хорошей физической подготовки,
        и начинающим туристам лучше выбрать другой маршрут.<br><br>
        Начальная и конечная точка похода — посёлок Тюнгур.
        Перед выходом каждая группа регистрируется в МЧС Республики Алтай.</p>

    <ul class="text" style="font-size: 18px;">
        <li>Протяжённость маршрута — 120 километров</li>
        <li>Длительность похода — 10 дней</li>
        <li>Лучшее время — с июня по август</li>
    </ul>

    <a href="/mail" class="btn btn-primary" style="background-color: rgba(0,0,0,0.0); border-color: #45F7EC;">
        Выбрать этот маршрут</a>

{% endblock %}