{% extends "base.html" %}

{% block content %}
<h2 class="text-70" style="font-size: 50px">Авторизация</h2>
<form method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.email.label }}<br>
        {{ form.email(class="form-control", type="email") }}<br>
        {% for error in form.email.errors %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(class="form-control", type="password") }}<br>
        {% for error in form.password.errors %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}
    </p>
    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
    <p>{{ form.submit(class="btn btn-primary", type="submit", style="background-color: rgba(0,0,0,0.0); border-color: #45F7EC;") }}</p>
    <div>{{ message }}</div>
</form>
{% endblock %}