{% extends "base.html" %}

{% block content %}

    <h1 class="text" style="color: #45F7EC;"><br>Сплав по Средней Катуни</h1>

    <h3 class="text">
        Алтайская область
        <a href="/map#mapr_1" class="hover">
            &nbsp;<img src="../static/images/point.png" width="20" class="bigger">
        </a>
    </h3>

    <table class="text">
        <tr>
            <td width="50"><p><img src="../static/images/dot.png" width="20" class="bigger">
                <span><img src="../static/images/r1_1.jpg"></span></p></td>
            <td width="50"><p><img src="../static/images/dot.png" width="20" class="bigger">
                <span><img src="../static/images/r1_2.jpg"></span></p></td>
            <td width="50"><p><img src="../static/images/dot.png" width="20" class="bigger">
                <span><img src="../static/images/r1_3.jpg"></span></p></td>
            <td width="50"><p><img src="../static/images/dot.png" width="20" class="bigger">
                <span><img src="../static/images/r1_4.jpg"></span></p></td>
            <td width="50"> <p><img src="../static/images/dot.png" width="20" class="bigger">
            <span><img src="../static/images/r1_5.jpg"></span></p></td>
        </tr>
    </table>

    <p class="text" style="font-size: 18px;">
        Сплав на байдарках по участку Средней Катуни, от реки Большой Яломан до реки Сумульта,
        проходит в области высокогорных хребтов и характеризуется не только насыщенностью и разнообразием
        проявлений строптивой реки (III-IV категории сложности), но и необычайной природной красотой.<br><br>
        Путешествие проходит по древнейшему пути Сибири – Чуйскому тракту.
        По пути туристы узнают об истории Горного Алтая, о традициях его коренного населения.
    </p>

    <ul class="text" style="font-size: 18px;">
        <li>Протяжённость маршрута — 300 километров</li>
        <li>Длительность похода — 4 дня</li>
        <li>Размещение — в палатках</li>
    </ul>

    <a href="/mail" class="btn btn-primary" style="background-color: rgba(0,0,0,0.0); border-color: #45F7EC;">
        Выбрать этот маршрут</a>


    <hr>


    <h1 class="text" style="color: #45F7EC;"><br>Река Умба</h1>

    <h3 class="text">
        Кольский полуостров
        <a href="/map#mapr_2" class="hover">
            &nbsp;<img src="../static/images/point.png" width="20" class="bigger">
        </a>
    </h3>

    <table class="text">
        <tr>
            <td width="50"><p><img src="../static/images/dot.png" width="20" class="bigger">
                <span><img src="../static/images/r2_1.jpg"></span></p></td>
            <td width="50"><p><img src="../static/images/dot.png" width="20" class="bigger">
                <span><img src="../static/images/r2_2.jpg"></span></p></td>
            <td width="50"><p><img src="../static/images/dot.png" width="20" class="bigger">
                <span><img src="../static/images/r2_3.jpg"></span></p></td>
            <td width="50"><p><img src="../static/images/dot.png" width="20" class="bigger">
                <span><img src="../static/images/r2_4.jpg"></span></p></td>
            <td width="50"> <p><img src="../static/images/dot.png" width="20" class="bigger">
            <span><img src="../static/images/r2_5.jpg"></span></p></td>
        </tr>
    </table>

    <p class="text" style="font-size: 18px;">
        Река Умба протекает от центра Кольского полуострова до Белого моря и имеет много участков, где вода кажется
        по-настоящему белой. Тур по Кольскому полуострову предлагают рафтинг, гастрономические впечатления
        «плодами природы»: грибами, ягодами, кофе из северной березы.<br><br>
        В программу входит посещение знаменитого артефакта на Кольском полуострове: древних наскальных рисунков.
        «Петроглифы Канозеро» датируются 5000 годами до нашей эры.
    </p>

    <ul class="text" style="font-size: 18px;">
        <li>Протяжённость маршрута — 150 километров</li>
        <li>Длительность похода — 3 дня</li>
        <li>Размещение — на борту</li>
    </ul>

    <a href="/mail" class="btn btn-primary" style="background-color: rgba(0,0,0,0.0); border-color: #45F7EC;">
        Выбрать этот маршрут</a>


    <hr>


    <h1 class="text" style="color: #45F7EC;"><br>Рафтинг по Чуе</h1>

    <h3 class="text">
        Республика Алтай
        <a href="/map#mapr_3" class="hover">
            &nbsp;<img src="../static/images/point.png" width="20" class="bigger">
        </a>
    </h3>

    <table class="text">
        <tr>
            <td width="50"><p><img src="../static/images/dot.png" width="20" class="bigger">
                <span><img src="../static/images/r3_1.jpg"></span></p></td>
            <td width="50"><p><img src="../static/images/dot.png" width="20" class="bigger">
                <span><img src="../static/images/r3_2.jpg"></span></p></td>
            <td width="50"><p><img src="../static/images/dot.png" width="20" class="bigger">
                <span><img src="../static/images/r3_3.jpg"></span></p></td>
            <td width="50"><p><img src="../static/images/dot.png" width="20" class="bigger">
                <span><img src="../static/images/r3_4.jpg"></span></p></td>
            <td width="50"> <p><img src="../static/images/dot.png" width="20" class="bigger">
            <span><img src="../static/images/r3_5.jpg"></span></p></td>
        </tr>
    </table>

    <p class="text" style="font-size: 18px;">
        Река Чуя известна как первое по-настоящему международное место, где регулярно проводятся соревнования
        по рафтингу. Например, известная «Ралли Чуя», состоявшееся в 1989 году.
        Это мощная река с множеством порогов, начиная с класса III-V.<br><br>
        Чуя имеет быстрое течение и несколько бассейнов. Некоторые пороги очень техничны, несмотря на достаточную
        глубину воды. Чуйская долина широкая и предлагает великолепные виды на окрестности из живописных мест
        для кемпинга.
    </p>

    <ul class="text" style="font-size: 18px;">
        <li>Протяжённость маршрута — 10 километров</li>
        <li>Длительность похода — 3 дня</li>
        <li>Размещение — сельская местность (походные условия)</li>
    </ul>

    <a href="/mail" class="btn btn-primary" style="background-color: rgba(0,0,0,0.0); border-color: #45F7EC;">
        Выбрать этот маршрут</a>

{% endblock %}