{% extends "base.html" %}

{% block content %}

    <h1 class="text" style="color: #45F7EC;"><br>Путешествие по Волге</h1>

    <h3 class="text">
        Московская область
        <a href="/map#maps_1" class="hover">
            &nbsp;<img src="../static/images/point.png" width="20" class="bigger">
        </a>
    </h3>

    <table class="text">
        <tr>
            <td width="50"><p><img src="../static/images/dot.png" width="20" class="bigger">
                <span><img src="../static/images/s1_1.jpg"></span></p></td>
            <td width="50"><p><img src="../static/images/dot.png" width="20" class="bigger">
                <span><img src="../static/images/s1_2.jpg"></span></p></td>
            <td width="50"><p><img src="../static/images/dot.png" width="20" class="bigger">
                <span><img src="../static/images/s1_3.jpg"></span></p></td>
            <td width="50"><p><img src="../static/images/dot.png" width="20" class="bigger">
                <span><img src="../static/images/s1_4.jpg"></span></p></td>
            <td width="50"> <p><img src="../static/images/dot.png" width="20" class="bigger">
            <span><img src="../static/images/s1_5.jpg"></span></p></td>
        </tr>
    </table>

    <p class="text" style="font-size: 18px;">
        В рамках речного путешествия можно увидеть главные жемчужины Золотого кольца и центральной России.
        Круиз включает экскурсионное обслуживание во время путешествия, включая посещение Музея сыра в
        Костроме с дегустацией и экскурсии на катере по Калязину с посещением улиточной фермы.<br><br>
        Для проживания на теплоходе можно выбрать каюту классом от стандарта (две односпальные кровати)
        до люкса (двуспальная кровать и диван). Везде есть кондиционеры, телевизоры, душевые кабины.
        Трёхразовое питание в ресторанах «Романтика» или «Поэзия», вечером можно отдохнуть в баре «Серебряный век».
    </p>

    <ul class="text" style="font-size: 18px;">
        <li>Маршрут — Москва-Углич-Кострома-Плёс-Ярославль-Рыбинск-Калязин-Москва</li>
        <li>Продолжительность — 6 дней</li>
        <li>Теплоход — «Александр Бенуа»</li>
    </ul>

    <a href="/mail" class="btn btn-primary" style="background-color: rgba(0,0,0,0.0); border-color: #45F7EC;">
        Выбрать этот маршрут</a>


    <hr>


    <h1 class="text" style="color: #45F7EC;"><br>Круиз по Чёрному морю</h1>

    <h3 class="text">
        Адлер
        <a href="/map#maps_2" class="hover">
            &nbsp;<img src="../static/images/point.png" width="20" class="bigger">
        </a>
    </h3>

    <table class="text">
        <tr>
            <td width="50"><p><img src="../static/images/dot.png" width="20" class="bigger">
                <span><img src="../static/images/s2_1.jpg"></span></p></td>
            <td width="50"><p><img src="../static/images/dot.png" width="20" class="bigger">
                <span><img src="../static/images/s2_2.jpg"></span></p></td>
            <td width="50"><p><img src="../static/images/dot.png" width="20" class="bigger">
                <span><img src="../static/images/s2_3.jpg"></span></p></td>
            <td width="50"><p><img src="../static/images/dot.png" width="20" class="bigger">
                <span><img src="../static/images/s2_4.jpg"></span></p></td>
            <td width="50"> <p><img src="../static/images/dot.png" width="20" class="bigger">
                <span><img src="../static/images/s2_5.jpg"></span></p></td>
        </tr>
    </table>

    <p class="text" style="font-size: 18px;">
        Путешествие не включает экскурсионное обслуживание. Лайнер прибывает в порт, а программу предстоит
        спланировать самостоятельно. Вас ждет комфортабельный морской лайнер с каютами с односпальными
        и двуспальными кроватями, душевыми, кондиционерами. Для развлечения гостей во время круиза работают
        бары-рестораны, детский клуб. На верхней палубе есть бассейн с морской водой и шезлонгами.
        По вечерам — анимация с вечерними концертными программами и кинопоказами.
        По сути, это не просто лайнер — это плавучий отель.<br><br>
        Все желающие могут искупаться в термальных источниках Кындыг и в Чёрном море, если позволяет погода.
    </p>

    <ul class="text" style="font-size: 18px;">
        <li>Маршрут — Сочи-Новороссийск-Ялта-Севастополь-Новый Афон</li>
        <li>Продолжительность — 7 дней</li>
        <li>Теплоход — «Князь Владимир»</li>
    </ul>

    <a href="/mail" class="btn btn-primary" style="background-color: rgba(0,0,0,0.0); border-color: #45F7EC;">
        Выбрать этот маршрут</a>


    <hr>


    <h1 class="text" style="color: #45F7EC;"><br>К Северному полюсу</h1>

    <h3 class="text">
        Мурманская область
        <a href="/map#maps_3" class="hover">
            &nbsp;<img src="../static/images/point.png" width="20" class="bigger">
        </a>
    </h3>

    <table class="text">
        <tr>
            <td width="50"><p><img src="../static/images/dot.png" width="20" class="bigger">
                <span><img src="../static/images/s3_1.jpg"></span></p></td>
            <td width="50"><p><img src="../static/images/dot.png" width="20" class="bigger">
                <span><img src="../static/images/s3_2.jpg"></span></p></td>
            <td width="50"><p><img src="../static/images/dot.png" width="20" class="bigger">
                <span><img src="../static/images/s3_3.jpg"></span></p></td>
            <td width="50"><p><img src="../static/images/dot.png" width="20" class="bigger">
                <span><img src="../static/images/s3_4.jpg"></span></p></td>
            <td width="50"> <p><img src="../static/images/dot.png" width="20" class="bigger">
                <span><img src="../static/images/s3_5.jpg"></span></p></td>
        </tr>
    </table>

    <p class="text" style="font-size: 18px;">
        Самый экзотичный из всех круизов на территории России. Ледокол не строился как туристическое судно,
        но сейчас каюты оборудованы под нужды путешественников: можно выбрать от стандартной двухместной
        до двухкомнатного люкса, разумеется, в каждой каюте есть все удобства — кровати, душ, телевидение.
        Четырёх-разовое питание на борту.
    </p>

    <ul class="text" style="font-size: 18px;">
        <li>Маршрут — Мурманск-Северный полюс-Мурманск</li>
        <li>Продолжительность — 13 дней</li>
        <li>Судно — Ледокол «50 лет Победы»</li>
    </ul>

    <a href="/mail" class="btn btn-primary" style="background-color: rgba(0,0,0,0.0); border-color: #45F7EC;">
        Выбрать этот маршрут</a>

{% endblock %}